:root {
  font-size: 62.5%; /* 1rem = 10px */
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin-top: 7rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 81.7rem;
  margin: 0 auto;
  border: 2px solid #000;
}

.text_display {
  padding: 0.5rem;
  min-height: 7.5rem;
  border: 1px solid #000;
}

.titulo {
  display: flex;
  padding: 2rem;
  background-color: #c4c4c4;
}

.text_display {
  margin: 1rem 2rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.btn:hover {
  cursor: pointer;
}

.btn_edit,
.btn_delete {
  border: none;
  padding: 0.4rem 1rem;
}

.btn_edit {
  background-color: #F6A75D;  
}

.btn_delete {
  background-color: #F65D5D;
}

.text_input {
  display: flex;
  width: 70%;
  padding: 0px; 
  border: 1px solid #000;
  margin: 20.5rem auto 0 auto;

  background-color: #c4c4c4;
}

.text_box {
  margin: 1rem;
}

.send {
  margin: 1rem 1rem 0 0;
}

.btn_send{
  background-color: #0066cc;
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;  
  border-radius: 10px;  
}

td {
  display: inline-block;
  margin: 3px;  
}